{% extends "base.html" %}

{% block content %}
   <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="page-header">
        <h2>About</h2>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="http://www.mfmgroup.org/images/kodres2_cropped.jpg" alt="Responsive image" class="img-responsive">
        </div>
        <div class="col-md-9">
          <p>Long Bio goes here.</p>
        </div>
      </div>
      <div class="row">
        <br>
      </div>

  </div> <!-- /container -->
{% endblock %}